.header{
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: bisque
}
.header h1{
    font-size: 40px;
}
.header p{
    font-size: 10px;
    
}/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Mar-2021, 9:17:57 pm
    Auth or     : VIVEK DEEP
*/
*
{
    margin: 0;
    padding: 0;
       
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 80px;
    padding-left:  70px;
	
    
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
     float: right;
     text-align: left;
     
}
#nav-bar ul li a:hover
{
    color:	#007bff!important;
    
}
.navbar
{
	background: #fff;
}
.navbar-toggler
{
	border:  none!important;
}
.nav-link
{
	color: #555!important;
	font-weight: 600;
	font-size: 16px; 
}
.strong
{
    font-weight: bold;
  
}